{% extends "base.html" %}

{% block content %}
    <h1>Товари:</h1>
    {% for product, count in list_products %}
        <div id="product-{{ product.id }}">
            <h3>{{ product.name }} - {{ product.price }}$</h3>
            <img src = '{{  url_for("shop.static", filename = "images/products/"+product.name + ".png") }}'>
            <p>кількість <span id = "count-{{product.id}}" >{{ count }}</span> шт.</p>
            <!-- <form action="/delete" method = "post">
            </form> -->
            <button class = "delete" id="{{ product.id }}">Видалити</button>
            <button class="plus" id="{{ product.id }}">+</button>
            <button class="minus" id="{{ product.id }}">-</button>
        </div>
    {% endfor %}
{% endblock %}

{%block scripts%}
<script type="module" src='{{  url_for("cart.static", filename = "js/addProduct.js") }}'></script>
<script type="module" src='{{  url_for("cart.static", filename = "js/removeProduct.js") }}'></script>
<script src='{{  url_for("cart.static", filename = "js/deleteProduct.js") }}'></script>
{%endblock%}