footer{
    background-color: #CDD5DD;
    height: 851px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}

#footer-elipse{
    position: absolute;
    top: -500px;
    width: 140%;
    height: 835px;
    background-color: white;
    border-radius: 100%;
}

#site-info{
    position:absolute;
    z-index: 1;
    display: flex;
    flex-direction: row;
    gap:180px;
    top:87px;
}

#site-info div{
    height: 116px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
}

#site-info div h1{
    font-size: 44px ;
    font-weight: bold;
}