footer{
    background-color: #CDD5DD;
    height: 851px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}

#footer-elipse{
    position: absolute;
    top: -500px;
    width: 140%;
    height: 835px;
    background-color: white;
    border-radius: 100%;
    z-index: 2;
}

#site-info{
    position:absolute;
    z-index: 3;
    display: flex;
    flex-direction: row;
    gap:180px;
    top:87px;
}

#site-info div{
    height: 116px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
}

#site-info div h1{
    font-size: 44px ;
    font-weight: bold;
}

#footer-links{
    display: flex;
    flex-direction: row;
    gap: 27px;
    position: absolute;
    top: 620px;
}
#footer-links a{
    color: #0C122A;
    font-size: 16px;
    text-decoration: none;
}

footer hr{
    background-color: #F4F4F4;
    position: absolute;
    top: 790px;
    width: 90%;
}

#license{
    color: #9EA0AA;
    position: absolute;
    top: 814px;
    font-size: 16px;
}