{% extends "base.html" %}
 
{% block title %} Магазин техніки{% endblock %}

{% block content  %}
{% if is_admin %}
    <form method="post" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="назву">
        <textarea name="description" placeholder="опис"></textarea>
        <input type="number" name="price" placeholder="ціна">
        <input type="number" name="count" placeholder="кількість">
        <input type="number" name="discount" placeholder="знижка">
        <input type="file" name="image" accept="image/*">
        <!--   accept - атрибут тегу input, що вказує тип файлу ("image/*")   -->
        <button>створити</button>
    </form>
{% endif %}

<select> 
    <option>Усі</option>
    {%for product in products%}
        <option>{{product.type  }}</option>
    {% endfor %}
</select>

<button id="filter" >filter</button>
{% for product in products %}
    <hr>
    <h1>Назва - {{ product.name }}</h1>
    <h2>Ціна - {{ product.price}} $</h2>
    <h2>Знижка - {{ product.discount}}%</h2>
    <h3>Кількість - {{product.count}}</h3>
    <!-- <a href="/buy_product/?id={{ product.id }}"> -->
    <button class="buy-buttons" id = "{{product.id}}">Купити</button>
    <!-- </a> -->
    <p>Опис - {{ product.description }}</p>
    <img src="{{ url_for('shop.static', filename = 'images/products/'+product.name + '.png') }}" alt="">
    {% if is_admin %}
        <a href="/delete_product/?id={{ product.id }}"><button>Видалити товар</button></a>
    {% endif%}
{% endfor %}
{% endblock %}

{% block scripts %}
<!-- Для подключения js в html нужно использовать тег script -->
<!--{# <script src="{{ url_for(путь)}}"></script>#} -->
<script  src="{{url_for('shop.static', filename = 'js/jquery-3.7.1.min.js') }}"></script>
<script src="{{ url_for('shop.static', filename = 'js/add_product.js') }}"></script>
<script src="{{ url_for('shop.static', filename = 'js/filter.js') }}"></script>
{% endblock %}
